.mainSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    background-color: rgba(240, 231, 231, 0.726);
    color: black;
}
.mainSec:before{
    content: '';
    background: url('../asset/Newestate.jpg') no-repeat center center/cover;
    height: 110%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.contentbox{
    width: 40%;
    padding-left: 0.5em;
}
.contentbox h1{
    font-size: 2.5rem;
    color: #301934;
}
.contentbox p{
    font-size: 1.2rem;
    margin: 1em 0;
    font-family: 'poppins', sans-serif;
}
.butnBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;;
    padding-bottom: 30%;
}
.btnn{
    border:2px solid transparent;
    border-radius: 2em;
    background-image: linear-gradient(#fff,#fff),
    radial-gradient(circle at bottom right,purple,orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}
.readMore{
    display: inline-block;
    font-size: 1.2rem;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #301934;
}
.imgContainer{
    width: 30%;
    height: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.imgContainer img{
    width: 95%;
    margin: 0 10;
    display: block;
    padding-top: 5%;

}

/* Media Queries */
@media screen and (max-width:900px){
    html{
        font-size: 14px;
    };
}
    @media screen and (max-width:768px){
        html{
            font-size: 14px;
        }
        .mainSec{
            flex-direction: column;
            padding: 0%;
            margin-top: 0.2em;
        }
        .mainSec:before{
            height: 100%;
            padding: 0%;
            
            
        }
        .contentbox{
            width: 90%;
            margin:0 auto;
            padding-bottom: 0;
        }
        .contentbox h1{
            font-size: 2rem;
        }
    .imgContainer{
        width: 80%;
        display: none;
    }

}
